* {
    margin:0; padding:0; border:0; background:transparent;

  }

  .list-full, .list-full li,
  .list-auto, .list-auto li { width: 100%; float: left; display: block; position: relative; }
  .list-auto, .list-auto li { width: auto; }
  

  .float-l { float: left; }
  .float-r { float: right; }
  
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    text-shadow: 0 1px 0 #fff;
  }
  
  header {
    min-height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    background: #ECECEC;
    z-index: 2;
  }
  
  header h1 {
    padding: 10px 0 0 10px;
  }
  
  header h1 a {
    color: #333;
  }
  
  header ul {
    padding: 15px 10px 0 0;
  }
  
  header li {
    border-left: 1px solid #ccc;
  }
  
  header li:first-child {
    border: none;
  }
  
  header li a {
    display: block;
    padding: 0 10px;
    color: #999;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  header li a:hover {
    color: #333;
  }
  
  input#control-nav {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    opacity: 0;
  }
  
  /* init modal */
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s 0.5s ease-in-out;
    transition: all 0.5s 0.5s ease-in-out;
  }
  
  .modal-content {
    padding: 10px;
    max-width: 600px;
    min-width: 360px;
    max-height: 85%;
    overflow: auto;
    position: absolute;
    top: 5%;
    left: 50%;
    z-index: 2;
    opacity: 0;
    border-radius: 3px;
    background: #fff;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .modal-content img {
    display: block;
    width: 100%;
    margin: 10px 0 0;
  }
  
  .modal-content p {
    padding-top: 10px;
    text-align: justify;
  }
  
  .modal-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-close:after {
    content: "X";
    float: right;
    margin: 5px 5px 0 0;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 3;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.8);
    border-radius: 20px;
    box-shadow: 0 0 3px #000;
  }
  
  input[id*="modal_"] {
    position: fixed;
    left: -9999px;
    top: 50%;
    opacity: 0;
  }
  input[id*="modal_"]:checked + div.modal {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
  }
  
  input[id*="modal_"]:checked + div.modal .modal-content {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  
  @media screen and (max-width: 767px) {
    header nav {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 250px;
      border-left: 1px solid #ccc;
      background: #fff;
      overflow-x: auto;
      z-index: 2;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
      transform: translate(100%, 0);
    }
  
    header ul.list-auto {
      padding: 0;
    }
  
    header ul.list-auto li {
      width: 100%;
      border: solid #ccc;
      border-width: 0 0 1px;
    }
  
    header li a {
      padding: 15px 10px;
    }
  
    header li a:hover {
      background-color: #ccc;
    }
  
    .control-nav { /* label icon */
      position: absolute;
      right: 20px;
      top: 20px;
      display: block;
      width: 30px;
      padding: 5px 0;
      border: solid #333;
      border-width: 3px 0;
      z-index: 2;
      cursor: pointer;
    }
  
    .control-nav:before {
      content: "";
      display: block;
      height: 3px;
      background: #333;
    }
  
    .control-nav-close {
      position: fixed; /* label layer */
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      z-index: 1;
      background: rgba(0,0,0,0.4);
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
      transform: translate(100%, 0);
    }
  
    /* checked nav */
    input#control-nav {
      display: block;
    }
  
    input#control-nav:focus ~ .control-nav {
      border-color: #000;
      box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
    }
  
    input#control-nav:focus ~ .control-nav:before {
      background: #000;
    }
  
    input#control-nav:checked ~ nav,
    input#control-nav:checked ~ .control-nav-close {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    .modal-content {
      padding: 10px 5%;
      min-width: 88%;
    }
  }
  
  @media screen and (max-width: 480px) {
    header h1 {
      font-size: 20px;
      line-height: 40px;
    }
  }
  
  #infoem {
      margin-top: 80px;
  }

  h1 {
      text-align: center;
      color: blue;
      font-family: Arial, Helvetica, sans-serif;
  }

  h2 {
      text-align: center;
      color: cyan;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 0;
  }

 p {
      text-align: justify;
      font-family: Arial, Helvetica, sans-serif;
      padding: 50px;
      margin: 50px;
      margin-top: 0%;    
 }

  footer, p {
    text-align: center;
  }

  footer {
        background-color: rgb(29, 30, 31);      
        color: rgb(201, 123, 123);
  }